$black: #000000;
$white: #fff;

$gray1: #d1d0d0;
$gray2: #a7a7a7;
$gray3: #8a8a8a;
$gray4: #525252;
$gray5: #3a3a3a;

$orange1: #ca6813;

$red1: rgb(255, 0, 0);
$red2: rgba(230, 25, 25, 0.432);

$green1: #d7e6d8;
$green2: #1e321e;
$green3: #131f13;

$blue1: #2f2f41;

$violet1: #9c70cf;
$violet2: #c9afe4fe;

$beige1: #b6a383;
$beige2: #9e8f76;
