@import '../../common/styles/colors.scss';
@import '../../common/styles/mixins.scss';

.formContainer {
  height: 100%;
  border-radius: 5px;
  border: 1px solid $gray4;
  padding: 10px;

  .noDataInfo {
    height: 100%;
    @include flexCenter;
  }
}
