@import '../../common/styles/colors.scss';

.tilesListView {
  width: 850px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  .tilesListContainer {
    border-radius: 5px;
    border: 1px solid $gray4;
    padding-inline: 20px;
  }
}
