@import '../../styles/colors.scss';

.configNameForm {
  margin-bottom: 10px;
  background-color: $black;
  border-radius: 5px;
  padding: 10px;
  width: 100%;

  label {
    margin-bottom: 3px;
  }
}
