.tileContainer {
  outline: none;
  border-radius: 3px;
  transition: background-color 0.2s;

  &.focused {
    background-color: rgb(255, 255, 255, 0.2);
  }

  .tile {
    border-radius: 3px;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    height: 40px;
    transition: outline 0.1s;

    &.nestTile {
      background-color: rgb(127, 155, 71);
    }

    &.nestableTile {
      background-color: rgb(187, 223, 114);
    }

    &.notNestableTile {
      background-color: rgb(182, 184, 179);
    }

    &.focused {
      outline: 4px solid rgb(255, 255, 255);
    }

    .noData {
      color: gray;
      font-style: italic;
      font-size: 0.8rem;
    }
  }

  .nest {
    padding-inline: 25px 15px;
    margin: 5px 0 0 15px;
    border-left: 1px solid rgb(156, 151, 151);
  }
}
