@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.tilesListDnD {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  @include scrollable;
  padding: 5px 15px 20px 15px;
  width: 100%;
}

.tileThumbnail {
  display: flex;
  flex-direction: column;
  gap: 11px;
  opacity: 0.7;
}

.addFirstElement {
  text-align: center;

  span {
    padding: 5px 10px;
    cursor: pointer;
  }
}
