@import '../../../../common/styles/colors.scss';
@import '../../../../common/styles/mixins.scss';

.configNameForm {
  margin-bottom: 10px;
  background-color: $black;
  border-radius: 5px;
  padding: 10px;
  width: 100%;

  label {
    margin-bottom: 3px;
  }
}

.formHeader {
  font-size: 18px;
  margin-block: 5px 15px;
  color: $gray1;
}

.formGrid {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: 35px;
  width: fit-content;
  margin-left: 10px;
  align-items: center;
}

.formLabel {
  width: fit-content;
  margin: 0;
  font-size: 14px;
  color: $gray1;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  @include noSelect;
}

.formControl {
  height: 25px;
  padding: 5px;
  background-color: $blue1;
  border: 1px solid $orange1;
  border-radius: 5px;
  color: $gray1;
  font-size: 14px;
  box-shadow: none !important;

  &:focus {
    border: 1px solid $green1;
    background-color: $blue1;
    color: $gray1;
  }
}

.formCheck {
  margin-inline: 10px 5px;
  cursor: pointer;
  background-color: $blue1;
  box-shadow: none !important;
  border: none;

  &:checked {
    background-color: $blue1;
  }
}

.textArea {
  background-color: $blue1;
  border: 1px solid $orange1;
  color: $gray1;
  resize: none;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  @include scrollable;

  &:focus {
    border: 1px solid $green1;
  }
}
