@import '../../../../common/styles/colors.scss';
@import '../../../../common/styles/mixins.scss';

.tilesListDnD {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  @include scrollable;
  padding: 5px 15px 20px 15px;
  width: 100%;
}

.tileThumbnail {
  display: flex;
  flex-direction: column;
  gap: 11px;
  opacity: 0.7;
}

.addFirstElement {
  text-align: center;

  span {
    padding: 5px 10px;
    cursor: pointer;
    color: $gray1;
    @include noSelect;
  }
}

.nestedTileWrapper {
  position: relative;

  .tileLinesBox {
    width: 17px;
    height: 65px;
    position: absolute;
    top: -45px;
    left: -18px;
    border-left: 2px solid $violet1;
    border-bottom: 2px solid $violet1;
    border-bottom-left-radius: 7px;
  }
}
